:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: #fff;
  color-scheme: light dark;
  color: #364844;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



.header {
}
.header__nav {
}
.nav__item {
}
.nav__appointment {
}
.header__logo {
}
.header__contacts {
}
.number {
}
.city {
}
.container {
}